// home-section start
.home-section {
    .top-img {
        justify-content: space-between;

        .left {
            .img {
                img {
                    width: 160px;
                }
            }
        }

        .right {
            .img {
                img {
                    width: 280px;
                }
            }
        }
    }

    .container {
        .row {
            .main {
                justify-content: center;

                .search {
                    align-items: center;
                    width: 60%;
                    border: 1px solid gray;
                    padding: 12px;
                    border-radius: 20px;

                    i {
                        width: 5%;
                        color: gray;
                        font-size: 18px;
                    }

                    input {
                        border: 0px;
                        width: 90%;
                        font-size: 19px;
                        color: #3a9691;
                        font-weight: 600;
                    }
                }
            }

            .experience-section {
                padding-top: 50px;

                h3 {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: gray;
                    text-align: center;
                }

                h2 {
                    font-size: 34px;
                    text-transform: capitalize;
                    color: #4a4a4a;
                    text-align: center;
                }
            }
        }
    }
}

// home-section end

// recipe-section start 
.recipe-section {
    padding: 50px 0px;

    .container {
        .row {
            .title {
                padding-bottom: 15px;

                h2 {
                    text-align: center;
                    font-size: 24px;
                }

            }

            .main {
                gap: 15px;
                a {
                    width: 19%;
                    padding: 15px 0px;
                    .box {
                       
    
                        .content {
                            width: 100%;
                            .img {
                                img {
                                    width: 100%;
                                }
                            }
    
                            .details {
                                padding: 12px 0px;
                                .recipe-name {
                                    h2 {
                                        color: #4a4a4a;
                                        font-size: 18px;
                                        transition: all 0.3s;
    
                                        &:hover {
                                            color: #3a9691;
                                        }
                                    }
                                }
    
                                .restorant-name {
                                    padding: 10px 0px;
                                    h3 {
                                        color: gray;
                                        font-size: 13px;
                                    }
                                }
    
                                .review {
                                    i {
                                        color: #e16120;
                                        padding: 0px 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// recipe-section  end